<div class='a-backdrop'><div>
<div class='a-content'>
  <div class='form-group'>
    <form class='form-horizontal'>
      <label>Title
      <div class='col-md-8'>
        <input type="text" class="event-title form-control" name="event[title]">
      </div>
      </label><br>
      <label>Date
        <div class='col-md-8'>
        <input type="text" class="event-date form-control" id="datepicker" name="event[date]">
        </label><br>\
      </div>
      <label>Location
        <div class='col-md-8'>
        <input type="text" class="event-date form-control" name="event[location]">
        </label><br>
      </div>
      <label>Description<br>
        <div class='col-md-8'>
        <textarea class="event-description form-control" name="event[description]"></textarea>
        </label><br>
      </div>
      <button class="submit">Create Event</button>
    </form>
  </div>
</div>
