<label>Title
<input type="text" class="event-title" name="event[title]">
</label>

<label>Date
<input type="text" class="event-date" id="datepicker" name="event[date]">
</label><br>

<label>Description<br>
<textarea class="event-description" name="event[description]"></textarea>
</label><br>

<button class="submit">Create Event</button>
