<div class='a-backdrop'><div>
<div class='a-content'>
  <form>
    <label>Title
    <input type="text" class="event-title field" name="event[title]">
    </label><br>

    <label>Date
    <input type="text" class="event-date field" id="datepicker" name="event[date]">
    </label><br>

    <label>Location
    <input type="text" class="event-date field" name="event[location]">
    </label><br>

    <label>Description<br>
    <textarea class="event-description" name="event[description]"></textarea>
    </label><br>

    <button class="submit">Create Event</button>
  </form>
</div>
