<div class='row'>
  <div class="col-xs-12 index-search-bar">
    <form class='search-main' role='search'>
      <div class="input-group">
        <input type="text" class="form-control" name='search[event]' placeholder="Search by event name...">
        <span class="input-group-btn">
          <button class='btn submit btn-primary' type='submit'>Find Event</button>
        </span>
      </div>
    </form>
  </div>
</div>


<!-- <div class='form-container'></div> -->
<div class='all-card-container clearfix'>
  <% if (!hasResults) {%>
    <p class='error'>Whoops! It looks like we couldn't find the event you were
    looking for... :(</p>
    <a href=''>Back to all Events</a>
  <% }%>
  <div class='row'>
    <div class='event-index-list clearfix'></div>
  </div>
</div>
