<div id="map-container"></div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class=" input-append input-group-md main-search">
        <form class='search-main' role='search'>
          <div class='form-group'>
            <input type="text" class="form-control"
              placeholder="Search for Event" name='search[event]'>
            <span class='input-group-btn'>
              <button class='btn btn-primary btn-md submit' type='button'>Find Event</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class='form-container'></div>
<div class='all-card-container clearfix'>
  <div class='row clearfix'>
    <div class='event-index-list clearfix'></div>
  </div>
</div>
