<div id="map-container"></div>

<div class='container-fluid'>
  <div class='row'>
    <div class="col-xs-12">
      <form class='search-main' role='search'>
        <div class="input-group">
          <input type="text" class="form-control" name='search[event]' placeholder="Search for...">
          <span class="input-group-btn">
            <button class='btn submit' type='button'>Find Event</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>


<div class='form-container'></div>
<div class='all-card-container clearfix'>
  <div class='row clearfix'>
    <div class='event-index-list clearfix'></div>
  </div>
</div>
