<div id="map-container"></div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class=" input-append input-group-md main-search">
        <input type="text" class="form-control span2" placeholder="Search for Event">
        <span class='input-group-btn'>
          <button class='btn btn-primary btn-md search" type='button'>Find Event</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class='form-container'></div>
<div class='all-card-container clearfix'>
  <div class='row clearfix'>
    <div class='event-index-list clearfix'></div>
  </div>
</div>
