<div class='item-card'>
  <div class="title card-title"><%= eventModel.escape('title')%></div>
  <div class="location card-details">
    <%= eventModel.escape('location')%><br>
    <%= eventModel.escape('date')%>
  </div>
</div>
