<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flockTo</title>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['goog_maps_key']%>">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div class='content'>
      <div id="navbar"></div>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1'>
            <div id="map-canvas"></div>
          </div>
        </div>
      </div>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1'>
            <div id="main"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
