<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flockTo</title>
  </head>
  <body>
  <div class='navbar navbar-default'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href=''>flockTo</a>
      </div>
        <ul class='nav nav-pills navbar-left'>
          <li><a>Find Event</a></li>
          <li><a>Create Event</a></li>
        <ul>
        <form class='navbar-form navbar-left' role='search'>
          <div class='form-group'>
            <input type='text' class='form-control' placeholder='Why is this not inline?????'>
          </div>
            <button type='submit' class='btn btn-default'>Submit</button>
        </form>
        <ul class='nav nav-pills navbar-right'>
        <li><a href='#/users/<%= current_user.id%>'><%= current_user.username%></a></li>
        <% if current_user%>
          <li><%= link_to "Sign out", session_url, method: :delete%></li>
        <% end%>
      </ul>
    </div>
  </div>
    <div id="main"></div>
  </body>
</html>
