<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flockTo</title>
  </head>
  <body>
    <div class='body-backdrop'></div>
    <div class='content'>
      <div id="navbar"></div>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1'>
            <div id="main"></div>
            <span class="glyphicon glyphicon-sunglasses pull-right secrets" aria-hidden="true" style='opacity: 0.1'></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
