<div class='user-content'>
  <h2><%= user.escape('username')%></h2>
  <div class='user-photo'></div>

  <p class='bio'><%= user.escape('bio')%></p>
</div>
<div role='tabpanel'>
  <ul class='nav nav-tabs' role='tablist'>
    <li role='presentation' class='active'><a href='#attended'
      aria-controls='attended' role='tab' data-toggle='tab'>Attended Events</a></li>
    <li role='presentation'><a href='#coordinated-events' aria-controls='coordinated-events'
      role='tab' data-toggle='tab'>Coordinated Events</a></li>
    <li role='presentation'><a href='#coordinated-flocks' aria-controls='coordinated-flocks'
      role='tab' data-toggle='tab'>Coordinated Flocks</a></li>
  </ul>

  <div class='tab-content' clearfix'>
    <div role='tabpanel' class='tab-pane active' id='attended'>
      <div class='attending-index'></div>
      <div class='old-attending'></div>
    </div>
    <div role='tabpanel' class='tab-pane' id='coordinated-events'>
      <div class='coordinated-events-index'></div>
      <div class='old-coordinated-events'></div>
    </div>
    <div role='tabpanel' class='tab-pane' id='coordinated-flocks'>
      <div class='coordinated-flocks-index'></div>
      <div class='old-coordinated-flocks'></div>
    </div>

  </div>
</div>
