<h2><%= user.escape('username')%></h2>
<div class='user-photo'></div>

<p class='bio'><%= user.escape('bio')%></p>

<div role='tabpanel'>
  <ul class='nav nav-tabs' role='tablist'>
    <li role='presentation' class='active'><a href='#attended'
      aria-controls='attended' role='tab' data-toggle='tab'>Attended Events</a></li>
    <li role='presentation'><a href='#coordinated' aria-controls='coordinated'
      role='tab' data-toggle='tab'>Coordinated Flocks</a></li>
  </ul>

  <div class='tab-content' clearfix'>
    <div role='tabpanel' class='tab-pane active' id='attended'>
      <div class='attending-index'></div>
      <div class='old-attending'></div>
    </div>
    <div role='tabpanel' class='tab-pane' id='coordinated'>
      <div class='coordinated-index'></div>
      <div class='old-coordinated'></div>
    </div>
  </div>
</div>
