<div class='user-content'>
  <h2><%= user.escape('username')%></h2>
  <div class='user-photo'></div>

  <p class='bio'><%= user.escape('bio')%></p>
</div>

<div class='row'>
  <div class='col-xs-4'>
    <h3 class='user-show'>Where I'm Going</h3>
    <div class='row going-index event-index-list'></div>
  </div>
  <div class='col-xs-4'>
    <h3 class='user-show'>Where I've Been</h3>
    <div class='been-index row event-index-list'></div>
  </div>
  <div class='col-xs-4'>
    <h3 class='user-show'>Coordinated Flocks</h3>
    <div class='coordinated-flocks-index row event-index-list'></div>
  </div>
</div>


<!-- <div role='tabpanel'>
  <ul class='nav nav-tabs' role='tablist'>
    <li role='presentation' class='active'><a href='#attended'
      aria-controls='attended' role='tab' data-toggle='tab'>Attended Events</a></li>
    <li role='presentation'><a href='#coordinated-events' aria-controls='coordinated-events'
      role='tab' data-toggle='tab'>Coordinated Events</a></li>
    <li role='presentation'><a href='#coordinated-flocks' aria-controls='coordinated-flocks'
      role='tab' data-toggle='tab'>Coordinated Flocks</a></li>
  </ul>
</div>

<div class='tab-content clearfix'>
  <div role='tabpanel' class='tab-pane active' id='attended'>
    <div class='row'>
      <div class='attending-index'></div>
      <div class='old-attending'></div>
    </div>
  </div>
  <div role='tabpanel' class='tab-pane' id='coordinated-events'>
    <div class='row'>
      <div class='coordinated-events-index'></div>
      <div class='old-coordinated-events'></div>
    </div>
  </div>
  <div role='tabpanel' class='tab-pane' id='coordinated-flocks'>
    <div class='row'>
      <div class='coordinated-flocks-index'></div>
      <div class='old-coordinated-flocks'></div>
    </div>
  </div>
</div> -->
