<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <form class= 'user-form' action="<%= users_url%>" method="POST">
      <input type="hidden" name="authenticity_token"
             value="form_authenticity_token">

      <div class='form-group'>
        <label class='col-xs-offset-1'><h1>Sign Up</h1></label>
        <ul class="errors">
          <% if flash[:errors]               %>
          <label>
          <%  flash[:errors].each do |error| %>
              <li> <%= error %></li>
          <%  end                            %>
          </label>
          <% end                             %>
        </ul>
      </div>

      <div class='form-group row'>
        <label class="username-input col-xs-3 col-xs-offset-1">Username</label>
          <input class='col-xs-6' type="text" name=user[username] value="<%= @user.username%>" placeholder="Username">
      </div>

      <div class='form-group row'>
        <label class="password-input col-xs-3 col-xs-offset-1">Password</label>
          <input class='col-xs-6' type="password" name=user[password] placeholder="Password">
      </div>

      <div class='form-group row'>
        <input class='col-xs-3 col-xs-offset-4' type="submit" value="Sign Up">
      </div>

      <div class='form-group row'>
        <a class='col-xs-offset-4'><%= link_to "Already signed Up? Sign In Here", new_session_url %></a>
      </div>
    </form>
  </div>
</div>
