<label>Title
<input type="text" class="flock-title" name="flock[title]">
</label>

<label>Date
<input type="text" class="flock-date" id="datepicker" name="flock[date]">
</label><br>

<label>Location
<input type="text" class="flock-location" name="flock[location]">
</label><br>

<label>Description<br>
<textarea class="flock-description" name="flock[description]"></textarea>
</label><br>

<button class="submit">Create Flock</button>
