<label>Title
<input type="text" class="flock-title" name="flock[title]"
  value='<%= flock.escape('title')%>'>
</label>

<label>Date
<input type="text" class="flock-date" id="datepicker" name="flock[date]"
  value='<%= flock.escape('date')%>'>
</label><br>

<label>Location
<input type="text" class="flock-location" name="flock[location]"
  value='<%= flock.escape('location')%>'>
</label><br>

<label>Description<br>
<textarea class="flock-description" name="flock[description]">
<%= flock.escape('description')%></textarea>
</label><br>

<button class="submit">Submit</button>
