<div class='item-card'>
  <div class="title card-title"
    <div class="list-index title"><%= flock.escape('title')%></div>
  </div>
  <div class="card-details">
    <%= flock.escape('location')%><br>
    <%= flock.escape('date')%><br>
    <%= flock.escape('distance')%>
  </div>
</div>
