<div class="list-index title"><%= flock.escape('title')%></div>
<%= flock.escape('destination')%>
<p class='index-description'><%= flock.escape('description')%></p>
<a href='#/flocks/<%= flock.escape('id')%>'>Details</a>
