@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
  font-family: helvetica;
}

#logo {
  color: black;
  text-decoration: none;
}

.title {
  font-weight: bold;
}

.a-backdrop {
  position: absolute;
  background-color: rgba(165, 157, 168, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 15;
}

.a-content {
  z-index: 100;
  background-color: rgb(246, 249, 255);;
  padding: 20px;
  height: 256px;
  width: 564px;
  position: fixed;
  margin-top: 40px;
  left: 25%;
}

.field {
}
/*index item cards*/
.card:hover {
  cursor: pointer;
}

.thumbnail:hover {
  cursor: pointer;
}

.card {
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 1px solid black;
  background-color: rgba(250, 250, 230, 0.73);
  border-radius: 5px;
  padding: 10px;
}

.card p {
  font-size: 10px;
}

.thumbnail {
  display: block;
  float: left;
  width: 65px;
  height: 65px;
  margin: 5px;
  border: 1px solid black;
  background-color: rgba(250, 250, 230, 0.73);
  border-radius: 5px;
  padding: 3px;
}
