@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background: image-url('map.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: raleway;
  letter-spacing: 1px;
}

a:hover {
  cursor: pointer;
}

//Map
.coord-description {
  width: 100%;
}

#map-canvas {
  width: 100%;
  height: 400px
}

#map-container {
  padding-top:30px;
  padding-bottom:30px;
}

#flock-map-container {
  color: #172C3D;
}
//Main

//Components: Cards and Forms
//Form
.modal-body .form-group {
  margin-left: 0
}

.form-group label {
  width: 100%
}

#editModal.fade.in { padding-right: 0px !important; }

.modal-content {
  top: 100px;
}

textarea.form-control {
  height: 100px
}

.modal-open {
 overflow: auto;
 padding-right: 0px !important;
}

.modal-header .close {
  margin-top: -3px;
  margin-right: -6px;
}

.modal-footer button {
  position: relative;
}

.index-item-wrapper {
  height: 250px;
  margin-bottom: 30px;
}

.index-item {
  border: 1px solid #172C3D;
  border-radius: 3px;
  background-color: #ffffff;
  color: #172C3D;
  height: 100%;
  display: block;
}

.index-item:hover{
  cursor: pointer;
  box-shadow: none;
  opacity: 0.75;
}

//Events Index

//User forms
.landing {
  padding-top: 10%;
}
.user-form {
  border-radius: 3px;
  background-color: #ffffff;
  color: #172C3D;
}

form textarea {
  height: 100px;
}

.jumbotron {
  background: none;
  color: #ffffff;
  padding-top: 0;
}
//User
.thumbnail:hover {
  cursor: pointer;
  opacity: 0.80;
  box-shadow: none;
}

.thumbnail {
  border: 1px solid #172C3D;
  border-radius: 3px;
  background-color: #ffffff;
  color: #172C3D;
  height: 100%;
}

.thumbnail-wrapper {
  height: 150px;
  margin-bottom: 30px;
}

//Single Page
.title {
  font-size: 24px;
}

// navbar
nav.navbar {
  margin-bottom: 5px;
}

.navbar-brand {
  position: absolute;
  left: 45%;
  font-size: 24px;
  color: rgb(25, 51, 65)
}

.glyphicon-search {
  cursor: pointer;
}

.event-index-list, .tab-content {
  margin-bottom: 300px;
}
//index
.search-main {
  // margin: 5px;
  padding-bottom: 30px;
}
//card item
.card-title {
  position: absolute;
  padding-left: 15px;
  padding-right:15px;
  bottom: 80px;
}

.card-details {
  position: absolute;
  bottom: 40px;
  padding-left: 15px;
  color: #172C3D;
}

//Index
.flock-show, .event-show-page, .user-content, .no-back {
  color: #ffffff;
}

.index-label {
  font-size: 24px;
  font-weight: 400;
}

.user-content {
  color: #ffffff;
}

.error {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
//Event-show
.input-text, .modal-content {
  color: #172C3D;
}


//Flock-show
.join-flock {
  border: 1px solid white;
  color: #172C3D;
  background-color: #ffffff;
}

.info-map {
  padding-bottom: 15px;
}
