@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background: image-url('map.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: raleway;
  letter-spacing: 1px;
}

a:hover {
  cursor: pointer;
}

//Form
.modal-body .form-group {
  margin-left: 0
}

.form-group label {
  width: 100%
}

#editModal.fade.in { padding-right: 0px !important; }

.modal-content {
  top: 100px;
}

textarea.form-control {
  height: 100px
}

.modal-open {
 overflow: auto;
 padding-right: 0px !important;
}

.modal-header .close {
  margin-top: -3px;
  margin-right: -6px;
}

.modal-footer button {
  position: relative;
}

//User forms
.user-form {
  margin-top: 20%;
  border-radius: 3px;
}

.user-form label {
  color: #ffffff;
}

form textarea {
  height: 100px;
}

//Map
.coord-description {
  width: 100%;
}

#map-canvas {
  width: 100%;
  height: 400px
}

//Single Page
.title {
  font-size: 24px;
}

// navbar
nav.navbar {
  margin-bottom: 5px;
}

.navbar-brand {
  position: absolute;
  left: 45%;
  font-size: 24px;
  color: rgb(25, 51, 65)
}

.glyphicon-search {
  cursor: pointer;
}

//Card Card

// .card:hover {
//   cursor: pointer;
//   box-shadow: 3px 3px 5px #888888
// }
//
.thumbnail:hover {
  cursor: pointer;
  opacity: 0.80;
  box-shadow: none;
}

.thumbnail {
  border: 1px solid #172C3D;
  border-radius: 3px;
  background-color: #ffffff;

  color: #172C3D;
  height: 100%;
}

.row {
  margin-right: 0px;
  margin-left:0px;
}
.thumbnail-wrapper {
  padding-right: 0;
  padding-left: 0;
  height: 150px;
  background-color: black;
}

.index-item {
  padding-right: 0;
  padding-left: 0;
  height: 250px;
  background-color: black;
}

.item-card {
  border: 1px solid #172C3D;
  border-radius: 3px;
  background-color: #ffffff;
  color: #172C3D;
  height: 100%;
  display: block;
}

.item-card:hover{
  cursor: pointer;
  box-shadow: none;
  opacity: 0.75;
}

.event-index-list, .tab-content {
  margin-bottom: 300px;
}
//index
.search-main {
  margin: 5px;
}
//card item
.card-title {
  position: absolute;
  padding-left: 15px;
  padding-right:15px;
  bottom: 80px;
}

.card-details {
  position: absolute;
  bottom: 40px;
  left: 15px;
  color: #172C3D;
}

.disco {
  display: block;
  height: 75px;
  width: 75px;
  float: left;
  border: 1px solid white;
}

.secrets {
  color: grey;
}

//Index
.main-search {
  margin: 5px;
}

.index-search-bar {
  padding:0;
}

.flock-show, .event-show-page {
  color: #ffffff;
}

.user-content {
  color: #ffffff;
}

.error {
  font-weight: 400;
  color: #ffffff;
  height: 250px;
}
//Event-show
.input-text, .modal-content {
  color: #172C3D;
}
