  <span class="glyphicon glyphicon-search open-nav-search" aria-hidden="true"></span>

  <div id='nav-search' class='modal fade' tabindex="-1" role='dialog'
  aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-body'>
        <form class="event-search" role="search">
          <div class="input-group">
            <input type="text" class="form-control" name='search[event]'
              placeholder="Enter Event Name">
            <span class="input-group-btn">
              <button class='btn submit btn-primary' type='submit'>Find Event</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>